
#header {
    width:100%; padding: 33px 0px; background: #fff; position: absolute; z-index: 3; 

    .inner {
            margin: 0px auto;

        h1 a {
            font : 25px/1 "Raleway"; color: #000; position: absolute; bottom:15px; left :2vw;
        }

        h2 {
            font : 20px/1 "Raleway"; color: #000; float: right; position: absolute; bottom:15px; right :2vw;
        }
    }
}

#profile {
    width: 100%; height: 100vh; position: relative; z-index: 2; 

    .inner {
        width: 1180px; margin: 0px auto; padding: 140px 0px; 
        
        &::after {
            content: ""; display: block; clear: both;
        }

        .pic {
            width: 330px; height: 400px; background: url(../img/g06-05-김지수-72.jpg) no-repeat center/cover; object-fit: cover; margin-bottom: 50px; margin-top: 80px; float: left; margin-right: 60px;
        }

        .box1 {
            float: left; 

            h1 {
                font: bold 24px/1.5 'Noto Sans KR', sans-serif; margin-bottom: 50px;
            }

            >div {
                >h2 {
                    display:inline-block; font : bold 20px/1 "Raleway"; color: #000; position: relative; margin-bottom: 35px;

                    &::after {
                        content:  ""; display: block; position: absolute; bottom: -17px; left: 0px ; width: 30px; height: 1px; background: rgb(73, 176, 180);
                    }
                }

                >p {
                    font: bold 16px/1 'Noto Sans KR', sans-serif; margin-bottom: 18px;
                }
            }

            .wrap {
                margin-bottom: 100px;               
            }
        }
        
        .box2 {               
            float: left; margin-top: 120px; margin-bottom: 50px;

            h2 {
                display:inline-block; font : bold 20px/1 "Raleway"; color: #000; position: relative; margin-bottom: 35px; 

                &::after {
                    content:  ""; display: block; position: absolute; bottom: -17px; left: 0px ; width: 30px; height: 1px; background: rgb(73, 176, 180);
                }
            }

            >p {
                font: bold 16px/1 'Noto Sans KR', sans-serif; margin-bottom: 18px;

                span {
                    margin-right: 10px;
                }
            }
        }
        .box3 {               
            float: left ;

            h2 {
                display:inline-block; font : bold 20px/1 "Raleway"; color: #000; position: relative; margin-bottom: 35px; 

                &::after {
                    content:  ""; display: block; position: absolute; bottom: -17px; left: 0px ; width: 30px; height: 1px; background: rgb(73, 176, 180);
                }
            }

            >p {
                font: bold 16px/1 'Noto Sans KR', sans-serif; margin-bottom: 18px;

                span {
                    margin-right: 10px;
                }
            }
        }
    }
}

@media screen and (max-width){
  
    
    #profile {
        width: 100%; height: 100vh; position: relative; z-index: 2; 
    
        .inner {
            width: 1180px; margin: 0px auto; padding: 140px 0px; 
            
            &::after {
                content: ""; display: block; clear: both;
            }
    
            .pic {
                width: 330px; height: 400px; background: url(../img/g06-05-김지수-72.jpg) no-repeat center/cover; object-fit: cover; margin-bottom: 50px; margin-top: 80px; float: left; margin-right: 60px;
            }
    
            .box1 {
                float: left; 
    
                h1 {
                    font: bold 24px/1.5 'Noto Sans KR', sans-serif; margin-bottom: 50px;
                }
    
                >div {
                    >h2 {
                        display:inline-block; font : bold 20px/1 "Raleway"; color: #000; position: relative; margin-bottom: 35px;
    
                        &::after {
                            content:  ""; display: block; position: absolute; bottom: -17px; left: 0px ; width: 30px; height: 1px; background: rgb(73, 176, 180);
                        }
                    }
    
                    >p {
                        font: bold 16px/1 'Noto Sans KR', sans-serif; margin-bottom: 18px;
                    }
                }
    
                .wrap {
                    margin-bottom: 100px;               
                }
            }
            
            .box2 {               
                float: left; margin-top: 120px; margin-bottom: 50px;
    
                h2 {
                    display:inline-block; font : bold 20px/1 "Raleway"; color: #000; position: relative; margin-bottom: 35px; 
    
                    &::after {
                        content:  ""; display: block; position: absolute; bottom: -17px; left: 0px ; width: 30px; height: 1px; background: rgb(73, 176, 180);
                    }
                }
    
                >p {
                    font: bold 16px/1 'Noto Sans KR', sans-serif; margin-bottom: 18px;
    
                    span {
                        margin-right: 10px;
                    }
                }
            }
            .box3 {               
                float: left ;
    
                h2 {
                    display:inline-block; font : bold 20px/1 "Raleway"; color: #000; position: relative; margin-bottom: 35px; 
    
                    &::after {
                        content:  ""; display: block; position: absolute; bottom: -17px; left: 0px ; width: 30px; height: 1px; background: rgb(73, 176, 180);
                    }
                }
    
                >p {
                    font: bold 16px/1 'Noto Sans KR', sans-serif; margin-bottom: 18px;
    
                    span {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}