@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300&display=swap');
@import "reset";

.intro {
    width: 100%; height: 100vh; position: relative; 

    #wrap {
        position: absolute; top: 25%; left: 50%; transform: translateX(-50%); 

        h1 {
            position: relative; margin-bottom: 2vw;

            span {
                font: normal 6vw/1 "Open sans";
                color: #000;
                opacity: 1;
            }
        }

        h2 {
            position: relative; 

            span {
                position: absolute;  right: 0%; font: normal 2.2vw/1 "Open sans"; color: #000;
                opacity: 1; 
            }
        }
    }

    #group {
        position: absolute; bottom: 25%; left: 50%; transform: translateX(-50%);display: flex; justify-content: space-between; align-items: center;

        li {
            margin-right: 7vw;

            &:last-child {
                margin-right: 0px;
            }

            a {
                font: normal 1.5vw/1 "Open sans"; color: #444;
            }
        }
    }
}
